@model List<Article>

@{
    ViewData["Title"] = "Blog";
}

<h1>Blog</h1>

<div id="content">
    <link rel="stylesheet" href="~/css/blog/index.min.css" />

    <button class="btn btn-primary" onclick="window.location.href='/Admin/Blog/UploadArticle'">Upload</button>

    <table id="articlelist" class="table table-hover">

        <tr id="topbar">
            <td>Title</td>
            <td>Time</td>
            <td>Modify</td>
            <td>Delete</td>
            <td>Comment</td>
        </tr>

        @foreach (var artcile in Model)
        {
                <tr>
                    <td>@artcile.Title</td>
                    <td>@artcile.Time</td>
                    <td><a href="/Admin/Blog/ModifyArticle?articleID=@artcile.ArticleID">Modify</a></td>
                    <td><a href="/Admin/Blog/DeleteArticle?articleID=@artcile.ArticleID">Delete</a></td>
                    <td><a href="/Admin/Blog/Comment?articleID=@artcile.ArticleID">Comment</a></td>
                </tr>
        }

    </table>
</div>
