
@{
    ViewData["Title"] = "UploadArticle";
}

    <div>
        <script type="text/javascript" src="~/js/blog/uploadarticle.js"></script>

        <h2>ArticleEdditor</h2>

        <form method="post" asp-controller="blog" asp-action="uploadarticle" enctype="multipart/form-data">
            
            @*博客标题*@
            <div class="form-group">
                <label>Article Title</label>
                <input name="title" type="text" class="form-control data" placeholder="Title">
            </div>

            @*博客概述*@
            <div class="form-group">
                <label>Article Overview</label>
                <input id="overview" name="overview" type="hidden" class="data"/>
                <textarea id="editoverview" class="form-control" rows="3"></textarea>
            </div>

            @*博客封面*@
            <div class="form-group">
                <label>Cover File</label>
                <input name="cover" type="file" class="data">
            </div>

            @*博客内容*@
            <div class="form-group">
                <label>Article Content</label>
                <input id="content" name="content" type="hidden" class="data"/>
                <textarea id="editcontent" class="form-control" rows="10"></textarea>
            </div>

            <input id="submit" type="submit" hidden />
        </form>

        <button class="btn btn-info" onclick="upload()">Submit</button>

    </div>

