
@{
    ViewData["Title"] = "UploadArticle";
}

<div>
    <script type="text/javascript" src="~/lib/ckeditor4/ckeditor.js"></script>
    <script type="text/javascript" src="~/js/blog/shared.min.js"></script>

    <h2>Upload Article</h2>

    <form method="post" asp-controller="Blog" asp-action="UploadArticle">

        @*博客标题*@
        <div class="form-group">
            <label>Article Title</label>
            <input name="title" type="text" class="form-control data" placeholder="Title">
        </div>

        @*博客标签*@
        <div class="form-group">
            <label>Article Tag（eg：#TagName1#TagName2）</label>
            <input name="tag" type="text" class="form-control data" placeholder="Tag">
        </div>

        @*博客概述*@
        <div class="form-group">
            <label>Article Overview</label>
            <input id="overview" name="overview" type="hidden" class="data" />
            <textarea id="editoverview" class="form-control" rows="3"></textarea>
        </div>

        @*博客封面*@
        <div class="form-group">
            <label>Cover File</label>
            <input id="cover" name="cover" type="text" class="form-control datadata" placeholder="link of cover" onchange="viewCover()" />
        </div>

        <img id="coverViewer" style="width:80%;" hidden />

        @*博客内容*@
    <div class="form-group">
        <label>Article Content</label>
        <input id="content" name="content" type="hidden" class="data" />
        <div id="editor"></div>
    </div>

        <input id="submit" type="submit" hidden />
    </form>

    <button class="btn btn-info" onclick="upload()">Submit</button>

    <script>CKEDITOR.replace("editor");</script>

</div>

