
<div class="pagination-container">
    <ul class="pagination justify-content-end">
        <li class="page-item active"><span class="page-link">1</span></li>
        <li class="page-item"><a class="page-link" href="?page=2">2</a></li>
        <li class="page-item"><a class="page-link" href="?page=3">3</a></li>
        <li class="page-item"><a class="page-link" href="?page=4">4</a></li>
        <li class="page-item"><a class="page-link" href="?page=5">5</a></li>
        <li class="page-item PagedList-skipToNext"><a class="page-link" href="?page=2" rel="next">&gt;</a></li>
        <li class="page-item PagedList-skipToLast"><a class="page-link" href="?page=32">&gt;&gt;</a></li>
    </ul>
</div>