@view-transition {
    navigation: auto;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
}

@keyframes fade-out {
    to {
        opacity: 0;
    }
}

@keyframes slide-from-right {
    from {
        transform: translateX(30px);
    }
}

@keyframes slide-to-left {
    to {
        transform: translateX(-30px);
    }
}

::view-transition-old(root) {
    animation: 90ms cubic-bezier(0.4, 0, 1, 1) both fade-out, 300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
}

::view-transition-new(root) {
    animation: 210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in, 300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
    padding-top: 50px;
    padding-bottom: 50px;
}

.sidebar {
    background-color: whitesmoke;
}

.sidebar .top-row {
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
}

.sidebar .navbar-brand {
    font-size: 1.1rem;
}

.sidebar .oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.sidebar .nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

.sidebar .nav-item:first-of-type {
    padding-top: 1rem;
}

.sidebar .nav-item:last-of-type {
    padding-bottom: 1rem;
}

.sidebar .nav-item a {
    color: black;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
}

.sidebar .nav-item a:hover {
    background-color: #007bff;
    color: white;
}

.content {
    padding-top: 1.1rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

@media (min-width: 892px) {
    app {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
        box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
    }

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
        display: block;
    }
}

.card {
    cursor: pointer;
}

.card:hover {
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
}

#avatar {
    height: 200px;
    width: 200px;
    margin: 20px;
    border-radius: 50%;
}

.inputRow {
    margin-bottom: 20px;
}

.input-group-prepend {
    cursor: pointer;
}

.input-group-append .btn {
    border-top-right-radius: .25rem !important;
    border-bottom-right-radius: .25rem !important;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    transition: 1.0s;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(127, 127, 127, 0.6);
    background-clip: padding-box;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: 1.0s;
}

::-webkit-scrollbar-thumb:vertical:hover,
::-webkit-scrollbar-thumb:horizontal:hover {
    background-color: rgb(110, 110, 110);
    transition: 0.3s;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb:vertical:active,
::-webkit-scrollbar-thumb:horizontal:active {
    background: rgba(95, 91, 91, 1);
}

::-webkit-scrollbar-corner {
    background: none;
}