# ASP.NET Core
# Build and test ASP.NET Core projects targeting .NET Core.
# Add steps that run tests, create a NuGet package, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

variables:
  buildConfiguration: 'Release'

steps:
- script: dotnet build --configuration $(buildConfiguration)
  displayName: 'dotnet build $(buildConfiguration)'

- task: CmdLine@2
  inputs:
    script: 'dotnet tool install -g Microsoft.Web.LibraryManager.Cli'

- task: CmdLine@2
  inputs:
    script: 'libman restore'
    workingDirectory: './CoreHome.HomePage'

- task: CmdLine@2
  inputs:
    script: 'libman restore'
    workingDirectory: './CoreHome.Admin'