<div id="home">
    <script src="~/js/feedback/index.min.js"></script>
    <link href="~/css/feedback/index.min.css" rel="stylesheet" />

    <div class="container text-center">
        <h1>反馈中心</h1>
        <p><strong>请描述软件使用过程中出现的问题</strong></p>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <p><strong>联系开发者</strong></p>
                <p>LLLXY</p>
                <p>QQ： 837685961</p>
                <p>Email：<a href="mailto:lixinyangemil@outlook.com">lixinyangemil@outlook.com</a></p>
            </div>

            <div class="col-md-8">
                <input id="contact" name="contact" class="form-control feedInfo" type="text" placeholder="你的联系方式（Enail/QQ）" />
                <input id="title" name="title" class="form-control feedInfo" type="text" placeholder="标题" />
                <textarea id="message" name="message" class="form-control feedInfo" rows="10" cols="100" placeholder="问题描述" maxlength="999" style="resize:none"></textarea>

                <div class="row">
                    <div class="col">
                        <div class="input-group">
                            <img id="verfyImg" onclick="getVerfyCode('verfyImg')" src="/Home/VerificationCode" />
                            <input id="verificationCode" name="VerificationCode" type="text" class="form-control" placeholder="验证码" />
                        </div>
                    </div>
                    <div class="col">
                        <button id="btn_submit" class="btn btn-success float-right" onclick="submit()">提交</button>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>