@model CoreHome.HomePage.ViewModels.FeedbackViewModel

<div id="home">
    <link href="~/css/feedback/index.min.css" rel="stylesheet" />

    <div class="container text-center">
        <h1>@ViewBag.Warning</h1>
        <p><strong>请描述软件使用过程中出现的问题</strong></p>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <p><strong>联系开发者</strong></p>
                <p>LLLXY</p>
                <p>QQ： 837685961</p>
                <p>Email：<a href="mailto:lixinyangemil@outlook.com">lixinyangemil@outlook.com</a></p>
            </div>

            <div class="col-md-8">
                <form asp-controller="Feedback" asp-action="Index" method="post">

                    <input asp-for="Contact" class="form-control feedInfo" type="text" placeholder="你的联系方式（Enail/QQ）" />
                    <input asp-for="Title" class="form-control feedInfo" type="text" placeholder="标题" />
                    <textarea asp-for="Content" class="form-control feedInfo" rows="10" cols="100" placeholder="问题描述" maxlength="999"></textarea>
                
                    <div class="row">
                        <div class="col">
                            <div class="input-group">
                                <img id="verfyImg" onclick="getVerfyCode(this)" src="/Service/VerificationCode" />
                                <input id="verificationCode" asp-for="VerificationCode" type="text" class="form-control" placeholder="验证码" />
                            </div>
                        </div>
                        <div class="col">
                            <input id="btn_submit" type="submit" class="btn btn-success float-right" value="提交" />
                        </div>
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>