@model List<string>

<link rel="stylesheet" href="~/css/bgm/index.min.css" />
<script src="~/js/bgm/Index.min.js"></script>

<div class="container">
    <h1>Bgm</h1>

    <button id="btn_upload" class="btn btn-primary" onclick="upload()">Upload</button>

    <form asp-controller="Bgm" asp-action="UploadMusic" enctype="multipart/form-data" method="post">
        <input id="selector" type="file" name="music" hidden />
        <input id="submit" type="submit" hidden />
    </form>

    <div>
        <br />
        <h3>BgmType</h3>
        <br />
        <div class="row">
            @{ 
                Bgm bgmType = ViewBag.Bgm;
            }
            <div class="col-md-4">
                <a href="/Admin/Bgm/SetBgmType?bgmType=@Convert.ToInt32(BgmType.None)">
                    <input name="bgmType" type="radio" @if (bgmType.BgmType == BgmType.None) { Write("checked"); }/>
                    <strong>None</strong>
                </a>
            </div>
            <div class="col-md-4">
                <a href="/Admin/Bgm/SetBgmType?bgmType=@Convert.ToInt32(BgmType.Single)">
                    <input name="bgmType" type="radio" @if (bgmType.BgmType == BgmType.Single) { Write("checked"); }/>
                    <strong>Single</strong>
                </a>
            </div>
            <div class="col-md-4">
                <a href="/Admin/Bgm/SetBgmType?bgmType=@Convert.ToInt32(BgmType.Random)">
                    <input name="bgmType" type="radio" @if (bgmType.BgmType == BgmType.Random) { Write("checked"); }/>
                    <strong>Random</strong>
                </a>
            </div>
        </div>
    </div>
    
    <div>
        <br />
        <h3>BgmList</h3>
        <table id="musicList" class="table table-hover">
            <tr>
                <td><strong>Name</strong></td>
                <td><strong>Seeting</strong></td>
                <td><strong>Delete</strong></td>
                <td><strong>Play</strong></td>
            </tr>

            @{
                var defaultMusic = BgmManager.Bgm.DefaultMusic;
            }

            @foreach (var music in Model)
            {
                <tr class="@if (music==defaultMusic) { Write("defaultMusic"); }">
                    <td>@music</td>
                    <td><a href="/Admin/Bgm/SetDefaultMusic?musicName=@music">SetBgm</a></td>
                    <td><a href="/Admin/Bgm/DeleteMusic?musicName=@music">Delete</a></td>
                    <td><a href="javascript:void()" onclick="play('@music')">Play</a></td>
                </tr>
            }

        </table>
    </div>

    <audio id="player" autoplay></audio>

</div>