@inject BingWallpaperService BingWallpaperService

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login | Admin</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/home/index.min.css" />

    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/js/home/index.min.js"></script>
</head>
<body style="background-image:url('@await BingWallpaperService.GetUrl()');">

    <div id="content" class="center-block">

        <img id="user" src="https://corehome.oss-accelerate.aliyuncs.com/images/user.jpg" />

        <h4>Sign in with admin</h4>

        <button id="btn_sign" class="btn btn-secondary" onclick="signIn()">Sign In</button>

        <form method="post" asp-controller="home" asp-action="VerifyPassword" hidden>
            <div class="form-group">
                <label>The verification code has been sent to your phone</label>
                <input name="pwd" type="password" class="form-control" placeholder="Enter the verification code to sign in" />
            </div>
            <button type="submit" class="btn btn-dark">Submit</button>
        </form>

        <footer>
            <hr />
            <p>&copy; 2020 - @Profile.Name</p>
        </footer>
    </div>

</body>
</html>
