
<li class="btn_changepage"><button onclick="window.location.href='/blog?index=@ViewData["previousPage"]';" class="btn btn-default navbar-btn">上一页</button></li>
<li class="btn_changepage"><button onclick="window.location.href='/blog?index=@ViewData["nextPage"]';" class="btn btn-default navbar-btn">下一页</button></li>