
#postdiv{
    min-height: 300px;
}

#waring {
    text-align: center;
}

article {
    margin-bottom: 20px;
}

article .articleTitle {
    font-size: large;
    font-weight: bold;
    margin-bottom: 1rem;
}

.post-tags a {
    color: white;
    font-size: small;
}