.post{
    padding-top: 20px;
}

#postdiv{
    min-height: 300px;
}

#waring {
    text-align: center;
}

article {
    margin-bottom: 20px;
}

article .articleTitle {
    font-size: large;
    font-weight: bold;
    margin-bottom: 1rem;
}

.toptags-list a {
    margin-bottom: 10px;
    color: white;
    font-size: small;
}

.post-tags a {
    color: white;
    font-size: small;
}

.pagination-container{
    margin-top: 20px;
}