
<div class="container">
    <br />
    <h1><strong>@ViewBag.Msg</strong></h1>
    <h3><span id="seconds"></span>秒后即将跳转</h3>
    <a href="@ViewBag.Url">立即跳转</a>
    <input id="url" type="hidden" value="@ViewBag.Url" />

    <script>
        var time = 5;

        function Tick() {
            document.getElementById("seconds").innerText = time;
            time--;
            if (time < 0) {
                window.location.href = document.getElementById("url").value;
            }
            else {
                setTimeout(Tick, 1000);
            }
        }

        Tick();
    </script>
</div>
