#imgbg {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content {
    text-align: center;
    width: 400px;
    margin-bottom: 50px;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: saturate(180%) blur(10px);
    box-shadow: 0 0 20px 10px rgba(0,0,0,.15);
}

#user {
    border-radius: 50px;
    margin-top: 20px;
    margin-bottom: 10px;
    height: 50px;
    width: 50px;
}

form {
    margin: 10px auto 0 auto;
    width: 80%;
}

footer {
    margin-top: 20px;
}
