
<div style="background-color: whitesmoke; height:100%;">
    <br />
    <br />
    <br />

    <div class="text-center">
        <h1>旧版博客已停用</h1>
        <h3>我们正在设计全新的博客页面</h3>
        <h3>尽情期待</h3>
    </div>
</div>
