@model List<Article>

@{
    ViewData["Title"] = "Blog";
}

<link rel="stylesheet" href="~/css/blog/index.min.css" />

<div class="container mt-4 mb-5">
    <div class="row post">

        <aside class="col-lg-3 d-none d-lg-block">

            @await Component.InvokeAsync("TopTags")
            <br />
            @await Component.InvokeAsync("Categories")

        </aside>

        <selection class="col-lg-9 col-md-12">
            <h2>All Posts</h2>
            <hr />

            <div id="postdiv">

                @if (Model.Count == 0)
                {
                    <h2 id="waring">There's nothing here.</h2>
                }
                else
                {
                    @for (var i = 0; i < Model.Count; i++)
                    {
                            <article>
                                <a class="articleTitle">@Model[i].Title</a>
                                <p class="date">@Model[i].Time.ToString("yyyy/MM/dd")</p>
                                <p>@Model[i].Overview</p>
                                <div class="post-tags">
                                    @{
                                        var articleTags = Model[i].ArticleTags;
                                    }

                                    @for (var j = 0; j < articleTags.Count; j++)
                                    {
                                        <a class="btn btn-primary">@articleTags[j].Tag.TagName</a>
                                    }
                                </div>
                            </article>
                            <div class="mb-4 d-none d-md-block"></div>
                            <hr class="d-none d-md-block" />
                    }
                }
            </div>

            @await Component.InvokeAsync("Pagination",ViewBag.Index)

        </selection>

    </div>
</div>