
@{
    ViewData["Title"] = "Blog";
}

<div class="container mt-4 mb-5">
    <div class="row">

        <aside class="col-lg-3 d-none d-lg-block">
            <selection>
                <div class="card">
                    <div class="card-header">Top Tags</div>
                    <div class="card-body">
                        <div class="toptags-list">
                            <a>ASP.NET</a>
                            <a>.NET Core</a>
                            <a>UWP</a>
                            <a>WPF</a>
                            <a>WinForms</a>
                            <a>Windows 10</a>
                            <a>Visual Studio</a>
                            <a>IIS</a>
                        </div>
                    </div>
                </div>
            </selection>

            <selection>
                <div class="card">
                    <div class="card-header">All Categories</div>
                    <div class="list-group list-group-flush">
                        <a class="list-group-item list-group-item-action">ASP.NET</a>
                        <a class="list-group-item list-group-item-action">.NET Core</a>
                        <a class="list-group-item list-group-item-action">UWP</a>
                        <a class="list-group-item list-group-item-action">WPF</a>
                        <a class="list-group-item list-group-item-action">WinForms</a>
                        <a class="list-group-item list-group-item-action">Windows 10</a>
                        <a class="list-group-item list-group-item-action">Visual Studio</a>
                        <a class="list-group-item list-group-item-action">IIS</a>
                    </div>
                </div>
            </selection>
        </aside>

        <selection class="col-lg-9 col-md-12">
            <h3 class="h3-cat-list">All Posts</h3>
            <hr />

            <article>
                <p class="date"></p>
                <h4>Title</h4>
                <p>qweqwrqewrrrrrrrrrrrrrrrrrrffffffffffffffffffffffffffffffffffffff</p>
                <div class="post-tags">

                </div>
            </article>
            <div class="mb-4 d-none d-md-block"></div>
            <hr class="d-none d-md-block" />

        </selection>

    </div>
</div>