@model List<Tag>

<link rel="stylesheet" href="~/css/components/toptags.min.css" />

<selection>
    <div class="card">
        <div class="card-header">Top Tags</div>
        <div class="card-body">
            <div class="toptags-list">

                @if (Model.Count == 0)
                {
                    <div>There's nothing here.</div>
                }
                else
                {
                    for (var i = 0; i < Model.Count; i++)
                    {
                        <a class="btn btn-primary" asp-controller="Blog" asp-action="Tags" asp-route-id="@Model[i].TagName">
                            @Model[i].TagName
                        </a>
                    }
                }

            </div>
        </div>
    </div>
</selection>