@model CoreHome.Data.Model.Article

@{
    ViewData["Title"] = "Comment";
}

<div class="container">
    <h1 class="display-4">Comment</h1>
    <br />

    @if (Model.Comments.Count == 0)
    {
        <h5>这里什么也没有</h5>
    }
    else
    {
        <ul class="list-group list-group-flush">
            @foreach (var comment in Model.Comments)
            {
                    <li class="list-group-item">
                        <div>
                            <p>
                                <spsn>@comment.Time.ToString("yy/MM/dd")</spsn>
                                <a asp-controller="Blog" asp-action="DelComment" asp-route-id="@comment.Id" asp-route-articleCode="@Model.ArticleCode">Delete</a>
                            </p>
                            <div class="markdown">
                                <textarea hidden>@comment.Detail</textarea>
                            </div>
                        </div>
                    </li>
            }
        </ul>
    }

    <partial name="MarkdownRender" />

</div>

