@model CoreHome.Data.Models.Article

@{
    ViewData["Title"] = "Comment";
}

<div class="container">
    <h1 class="display-4">Comment</h1>
    <br />

    @if (Model.Comments.Count == 0)
    {
        <h5>There is nothing here.</h5>
    }
    else
    {
        <ul class="list-group list-group-flush">
            @foreach (var comment in Model.Comments)
            {
                <li class="list-group-item">
                    <div>
                        <p>
                            <spsn>@comment.Time.ToString("yy/MM/dd")</spsn>
                            @{
                                var formLink = new FormLink()
                                {
                                    Href = "/Admin/Blog/DelComment/",
                                    Text = "Delete",
                                    Warning = "Confirm deletion?"
                                };
                                formLink.Paras.Add("id", comment.Id.ToString());
                                formLink.Paras.Add("articleCode", Model.ArticleCode.ToString());
                            }
                            @await Component.InvokeAsync("FormLink", formLink)
                        </p>
                        <div class="markdown">
                            <textarea hidden>@comment.Detail</textarea>
                        </div>
                    </div>
                </li>
            }
        </ul>
    }

    <partial name="MarkdownRender" />

</div>

