@model CoreHome.Admin.ViewModels.ArticleViewModel

<link rel="stylesheet" href="~/lib/editor.md/css/editormd.min.css" />
<script src="~/lib/editor.md/editormd.min.js"></script>

<div class="container">
    <h1>Editor</h1>
    <hr />

    <form asp-action="@ViewBag.Action" method="post">

        <input asp-for="ArticleCode" type="hidden" />

        <label asp-for="Title"></label>*
        <input asp-for="Title" type="text" class="form-control" />

        <label asp-for="CategoryName"></label>*
        <input asp-for="CategoryName" type="text" class="form-control" />

        <label asp-for="TagStr"></label>*<label>（标签之间用 "#" 隔开）</label>
        <input asp-for="TagStr" type="text" class="form-control" />

        <label asp-for="Overview"></label>*
        <input asp-for="Overview" type="text" class="form-control" />

        <label asp-for="CoverUrl"></label>
        <input asp-for="CoverUrl" type="text" class="form-control" />

        <label asp-for="Content"></label>*
        <div id="test-editor">
            <textarea asp-for="Content" class="form-control" rows="10" cols="100" placeholder="博客内容"></textarea>
        </div>
        <script type="text/javascript">
            editormd("test-editor", {
                width: "100%",
                height: "700px",
                path: "/Admin/lib/editor.md/lib/",
                emoji: true,
                imageUpload: true,
                imageFormats: ["jpg","png"],
                imageUploadURL : "/Admin/Blog/UploadPic",
                htmlDecode: "style,script,iframe"
            });
        </script>

        <hr />
        <input type="submit" value="提交" class="btn btn-success" />
    </form>
</div>