@model CoreHome.Admin.ViewModels.ArticleViewModel

<div class="container">
    <h1>Upload</h1>
    <hr />

    <form asp-action="Upload" method="post">
        <label asp-for="Title"></label>
        <input asp-for="Title" type="text" class="form-control" />

        <label asp-for="CategoryName"></label>
        <input asp-for="CategoryName" type="text" class="form-control" />

        <label asp-for="ArticleTags"></label>
        <input asp-for="ArticleTags" type="text" class="form-control" />

        <label asp-for="Overview"></label>
        <input asp-for="Overview" type="text" class="form-control" />

        <label asp-for="CoverUrl"></label>
        <input asp-for="CoverUrl" type="text" class="form-control" />

        <label asp-for="Content"></label>
        <input asp-for="Content" type="text" class="form-control" />

        <input type="submit" value="提交" class="btn btn-success" />
    </form>
</div>