.timeline {
    padding-left: 0;
    list-style: none;
    position: relative;
}

.timeline:before {
    background-color: black;
    content: '';
    margin-left: -1px;
    position: absolute;
    top: 10px;
    left: 2em;
    width: 2px;
    height: 100%;
}

.timeline li {
    transform: translate(0);
}

.timeline-icon {
    transform: rotate(45deg);
    background-color: #007bff;
    margin: 0.5em 0.5em 0.5em -0.5em;
    position: absolute;
    left: 2em;
    width: 1em;
    height: 1em;
}

.timeline-info {
    width: 90%;
    line-height: 24px;
    padding-top: 2em;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 0;
    position: relative;
    top: -2em;
    left: 2em;
}

.article-month span {
    margin-top: 4px;
}