@inject HomePageService HomePageService
@{ ViewBag.HomePage = HomePageService.Config; }

<div class="container">

    <h1 class="display-4">Project</h1>
    <br />
    <a asp-controller="Project" asp-action="Add" class="btn btn-primary">Add Project</a>
    <br />
    <hr />

    <div class="row">
        @foreach (var project in ViewBag.HomePage)
        {
            @await Component.InvokeAsync("Project", project)
        }
    </div>
</div>