@model List<Project>

<div class="container">

    <h1 class="display-4">Project</h1>
    <br />
    <a asp-controller="Project" asp-action="Add" class="btn btn-primary">Add Project</a>
    <br />
    <hr />

    <div id="projectList">
        @{
            var lastProjectSize = ProjectSize.Big;
        }

        @foreach (var project in Model)
        {
            lastProjectSize = project.Size;
            if (project.Size == ProjectSize.Big)
            {
                if (lastProjectSize != ProjectSize.Big)
                {
                    @Html.Raw("</div>")
                }
                <div class="row">
                    @await Component.InvokeAsync("Project", project)
                </div>
            }
            else
            {
                if (lastProjectSize != ProjectSize.Big)
                {
                    @await Component.InvokeAsync("Project", project)
                    @Html.Raw("</div>")
                }
                else
                {
                    @Html.Raw("<div class='row'>")
                    @await Component.InvokeAsync("Project", project)
                }
            }
        }

        @if (lastProjectSize != ProjectSize.Big)
        {
            @Html.Raw("</div>")
        }
    </div>
</div>