@font-face {
    font-family: 'icomoon';
    src: url("../fonts/icomoon/icomoon.eot?srf3rx");
    src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
}

body {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #4d4d4d;
    background-color:whitesmoke;
    padding-top: 50px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

a {
    color: #FF9000;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

a:hover, a:active, a:focus {
    color: #FF9000;
    outline: none;
    text-decoration: none;
}

::-moz-selection {
    color: #fff;
    background: #FF9000;
}

::selection {
    color: #fff;
    background: #FF9000;
}

.fh5co-footer {
    padding: 50px 0;
    width: 100%;
}

.gototop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    cursor: pointer;
}

.gototop.active {
    opacity: 1;
    visibility: visible;
}

.gototop a {
    width: 50px;
    height: 50px;
    display: table;
    background: orange;
    color: #fff;
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.gototop a i {
    height: 50px;
    display: table-cell;
    vertical-align: middle;
}

.gototop a:hover, .gototop a:active, .gototop a:focus {
    text-decoration: none;
    outline: none;
}

#content {
    flex: 1; /* 1代表最大 */
}

#footer {
    padding:40px;
    background-color: black;
}

::-webkit-scrollbar {
    display: none;
}

#admin {
    font-size: smaller;
    color: #4d4d4d;
    font-weight:bold;
}