
<div>
    <link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/home/index.min.css" />

    <div>
        <header class="fh5co-cover js-fullheight">

            @switch (ThemeService.Theme.BackgroundType)
            {
                case BackgroundType.Color:
                    <div id="colorbg"></div>
                    break;

                case BackgroundType.Bing:
                    <div style="background-image:url('@await BingWallpaperService.GetUrl()'); width:100%; height:100%;
                    position:absolute; background-size:cover; bottom:0; left:0;"></div>
                    break;

                    @*case BackgroundType.Video:
                    var videoSrc = @"";
                    <video style="width:100%; height:100%; object-fit:cover; position:absolute; bottom:0; left:0;"
                    src="@videoSrc" autoplay loop></video>
                    break;*@

            }

            <div class="container">
                <div class="row">
                    <div class="col-md-8 offset-md-2 text-center">
                        <div class="display-t js-fullheight">

                            <div class="display-tc">
                                <img id="profile-thumb" src="https://lllxy.oss-cn-shenzhen.aliyuncs.com/coreHome/user.jpg" />
                                <h1><span>@ViewBag.Title</span></h1>
                                <h2>.Net Developer</h2>
                                <h3><span>QQ：837685961</span></h3>
                                <br />
                                <h3><span>email：lixinyangemil@outlook.com</span></h3>
                                <br /><br />

                                <a onclick="moveToDC()">
                                    <img id="btn_dowm" src="https://lllxy.oss-cn-shenzhen.aliyuncs.com/coreHome/down.png" width="40" />
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div id="fh5co-blog">
            <div class="container">

                <!--Title-->
                <div class="row">
                    <div class="text-center fh5co-heading">
                        <h2>Download Center</h2>
                    </div>
                </div>

                <!--MainApp-->
                <div class="row">
                    <div class="fh5co-blog">
                        <div class="blog_imgbox">
                            <a class="blog-bg" style="background-image:url(https://lllxy.oss-cn-shenzhen.aliyuncs.com/coreHome/chaoxing.jpg);" href="https://www.lanzous.com/i71mkpa"></a>
                        </div>
                        <div class="blog-text">
                            <h3>超星尔雅刷课</h3>
                            <p class="detail">超星尔雅（学习通）刷课软件，支持自动播放，后台播放，自动答题，自动跳转功能 （支持windows10版本>=17110 .NET Framework>=4.6.2）, 兼容版本使用Chromium内核（兼容windows7，但功能有阉割），如果<strong><u>遇到问题</u></strong>请尝试兼容版本 .</p>
                            <ul class="stuff">
                                <li>
                                    <a href="https://www.lanzous.com/i71mkpa">下载<span style="color:orange;">新版</span>安装包<i class="icon-arrow-right22"></i></a>
                                    <a href="https://www.lanzous.com/i76cm0h">下载<span style="color:orange;">兼容</span>版本<i class="icon-arrow-right22"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!--AllApp-->
                <div class="row">

                    <div class="col-md-8">
                        <div class="fh5co-blog ">
                            <div class="blog_imgbox">
                                <a class="blog-bg" style="background-image:url(https://lllxy.oss-cn-shenzhen.aliyuncs.com/coreHome/translator.jpg);" href="https://github.com/lixinyang123/Translator"></a>
                            </div>
                            <div class="blog-text">
                                <h3>Translator</h3>
                                <p class="detail">Linux平台的第三方有道词典（不再提供打包版本，需要自己下载源码打包）</p>
                                <ul class="stuff">
                                    <li><a href="https://github.com/lixinyang123/Translator">下载源码<i class="icon-arrow-right22"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="fh5co-blog">
                            <div class="blog_imgbox">
                                <a class="blog-bg" style="background-image:url(https://lllxy.oss-cn-shenzhen.aliyuncs.com/coreHome/createjt.jpg);" href="https://www.microsoft.com/zh-cn/p/假条生成器/9p2dg3tb2ts3"></a>
                            </div>
                            <div class="blog-text">
                                <h3>假条生成器</h3>
                                <p class="detail">选择日期生成工院假条（不支持外校）.</p>
                                <ul class="stuff">
                                    <li>
                                        <a href="https://www.microsoft.com/zh-cn/p/假条生成器/9p2dg3tb2ts3">了解更多<i class="icon-arrow-right22"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>

                <!--Title-->
                <div class="row">
                    <div class="text-center fh5co-heading">
                        <h2>Web Apps</h2>
                    </div>
                </div>

                <!--MainApp-->
                <div class="row">
                    <div class="fh5co-blog ">
                        <div class="blog_imgbox">
                            <a class="blog-bg" style="background-image:url(https://lllxy.oss-cn-shenzhen.aliyuncs.com/coreHome/codeonline.jpg);" href="javascript:void()"></a>
                        </div>
                        <div class="blog-text">
                            <h3>CodeOnline</h3>
                            <p class="detail">Docker+CodeServer驱动的在线开发平台 .</p>
                            <ul class="stuff">
                                <li><a href="javascript:void()">暂时下线<i class="icon-arrow-right22"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!--AllApp-->
                <div class="row">

                    <div class="col-md-8">
                        <div class="fh5co-blog ">
                            <div class="blog_imgbox">
                                <a class="blog-bg" style="background-image:url(https://lllxy.oss-cn-shenzhen.aliyuncs.com/coreHome/parsedcm.jpg)" href="https://www.lllxy.net/parsedcm"></a>
                            </div>
                            <div class="blog-text">
                                <h3>ParseDCM</h3>
                                <p class="detail">在线的Dicom解析器，暂不支持无损格式解析.</p>
                                <ul class="stuff">
                                    <li><a href="https://www.lllxy.net/parsedcm">访问网站<i class="icon-arrow-right22"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="fh5co-blog ">
                            <div class="blog_imgbox">
                                <a class="blog-bg" style="background-image:url(https://lllxy.oss-cn-shenzhen.aliyuncs.com/coreHome/tiku.jpg);" href="http://www.ccczg.site/cxtk/"></a>
                            </div>
                            <div class="blog-text">
                                <h3>题库查询系统</h3>
                                <p class="detail">超星尔雅题库查询系统.</p>
                                <ul class="stuff">
                                    <li><a href="http://www.ccczg.site/cxtk/">了解更多<i class="icon-arrow-right22"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

        @{
            if (ThemeService.Theme.MusicUrl != null)
            {
                <audio id="player" src="@ThemeService.Theme.MusicUrl"></audio>
            }
        }

        <!-- Main -->
        <script src="~/js/home/index.min.js"></script>

    </div>

</div>
