<div class="container" style="padding: 50px 10px 50px 10px;">
    <div>
        <h2>我们收集的数据：</h2>
        <p>
            我们收集数据主要包括访问网页的时间信息，访问次数以及博客的阅读记录和数量等等...
            <br />我们会收集你向我们提供的数据、你与我们之间的互动数据以及产品使用数据。 部分数据由你直接提供，其他数据则由我们通过你与产品的交互以及对产品的使用和体验收集而来。我们收集的数据取决于你与我们互动的环境、你所做的选择，包括你的隐私设置以及你所使用的产品和功能。<br />对于你使用的技术和共享的数据，你可以做出不同的选择。 当我们请求你提供个人数据时，你可以拒绝。 我们的很多产品都需要你提供某些个人数据，以便向你提供服务。 如果你选择不提供某个产品或功能所需的数据，则无法使用该产品或功能。 同样，如果我们需要依法收集个人数据，或者需要与你签订合同或对你履行合同，但你没有提供数据，那么我们将无法签订合同；或者如果这涉及到你正在使用的现有产品，那么我们可能必须暂停或取消你的使用权。 如果属于上述情况，我们将通知你。 在不强制要求提供数据的情况下，如果你选择不共享个人数据，那么你将无法使用需要提供此类数据的功能（如个性化功能）。
        </p>

        <hr />

        <h2>我们如何使用个人数据：</h2>
        <p>
            我们会使用收集的数据为你提供丰富的交互式体验。 我们使用数据的典型目的包括：
            <br />● 提供我们的产品，包括进行更新、保护和疑难解答，以及提供支持。 在需要使用数据来提供服务或执行你请求的交易时，还包括共享数据。
            <br />● 改进和开发我们的产品。
            <br />● 个性化我们的产品并提出建议。
        </p>

        <hr />

        <h2>如何访问和控制你的个人数据：</h2>
        <p>你也可以针对我们对你数据的收集和使用进行选择。 你可以通过联系我们或使用我们提供的功能来控制我们所获得的你的个人数据，并行使你的数据保护权利。</p>

        <hr />

        <h2>Cookie 和类似技术：</h2>
        <p>
            Cookie 是放置在设备上的小型文本文件，用于存储数据，域中放置 Cookie 的 Web 服务器可以调用这些数据。 我们使用 Cookie 和类似技术来存储和遵守你的偏好和设置、使你能够登录、提供基于兴趣的广告、打击欺诈行为、分析我们产品的性能以及实现其他合法目的。
            <br />你有各种用于控制 Cookie、Web 信号和类似技术所收集的数据的工具。 例如，你可以使用 Internet 浏览器中的控件来限制你所访问的网站可如何使用 Cookie，并通过清除或阻止 Cookie 来撤消同意。
        </p>
    </div>
</div>