<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="LLLXY,lixinyang,李新阳" />
    <meta name="description" content="LLLXY's Blog" />

    <meta property="og:locale" content="zh_cn" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="LLLXY" />
    <meta property="og:description" content="LLLXY's Blog" />
    <meta property="og:url" content="https://www.lllxy.net/" />
    <meta property="og:site_name" content="LLLXY" />
    <meta property="og:image" content="https://lllxy.oss-cn-shenzhen.aliyuncs.com/CoreHome/Images/user.jpg" />

    <title>@ViewBag.PageTitle | @UserInfo.Name</title>

    <link rel="shortcut icon" href="~/favicon.ico" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/shared/_layout.min.css" />

    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/lib/darkreader/darkreader.min.js"></script>

    @switch (ThemeService.Config.ThemeType)
    {
        case ThemeType.Auto:
            @if (DateTime.Now.Hour > 18 || DateTime.Now.Hour < 7)
            {
                <script>DarkReader.enable();</script>
            }
            break;

        case ThemeType.White:
            break;

        case ThemeType.Black:
            <script>DarkReader.enable();</script>
            break;
    }

</head>
<body>

    @await Component.InvokeAsync("Navbar")

    <div id="content">
        @RenderBody()
    </div>

    <!--footer-->
    <footer class="bd-footer text-muted">

        <div class="container" id="footerInfo">
            <div class="row">

                <div class="col-md-3">
                    <p class="title">What's new</p>
                    <p><a target="blank" href="https://conchbrain.club/#brain">CloudShell</a></p>
                    <p><a target="blank" href="https://wwa.lanzous.com/ieXOOems6sd">CrawlerGenerator</a></p>
                </div>

                <div class="col-md-3">
                    <p class="title">FriendLinks</p>
                    <p><a target="blank" href="https://lindexi.gitee.io/">林德熙</a></p>
                    <p><a target="blank" href="https://www.ccczg.site/">CCCZG</a></p>
                </div>

                <div class="col-md-3">
                    <p class="title">About</p>
                    <p><a target="blank" href="https://github.com/lixinyang123">GitHub</a></p>
                    <p><a target="blank" href="https://weibo.com/u/5032216997">微博</a></p>
                </div>

                <div class="col-md-3">
                    <p class="title">Others</p>
                    <p><a target="blank" asp-controller="Home" asp-action="Privacy">Privacy&Cookie</a></p>
                    <p><a target="blank" asp-controller="Admin" asp-action="Index">Admin</a></p>
                </div>

            </div>
        </div>

        <div class="container-fluid p-3 p-md-5 text-center">
            <p>
                Designed and Developed by
                <a href="https://www.lllxy.net/"><strong>LLLXY</strong></a>
                ❤ Powered by
                <a href="https://dotnet.microsoft.com/" target="_blank"><strong>.NET Core</strong></a> 3.1.6
            </p>
            <p>
                &copy; 2020 - @UserInfo.Name
                <a href="http://www.beian.miit.gov.cn/" target="_blank"><strong>豫ICP备18041216号-2</strong></a>
            </p>
        </div>

    </footer>

    <partial name="_CookieConsentPartial" />

    <div id="top" class="gototop js-top">
        <a onclick="MoveTop()"><i>TOP</i></a>
    </div>

    <!-- Main -->
    <script type="text/javascript" src="~/js/shared/_layout.min.js"></script>

</body>
</html>
