@model List<Tag>

<link rel="stylesheet" href="~/css/tags/index.min.css" />

<div class="container mt-4 mb-5">
    <div class="row">

        <aside class="col-lg-3 d-none d-lg-block">

            @await Component.InvokeAsync("TopTags")
            <br />
            @await Component.InvokeAsync("Categories")

        </aside>

        <section class="col-lg-9 col-md-12">

            <h2>All Tags</h2>
            <hr>
            <ol id="by-site-list">

                @for (var i = 0; i < Model.Count; i++)
                {
                    double fontSize = 1 + Model[i].ArticleTags.Count * 0.2;

                        <li style="font-size: @(fontSize)em;">
                            <a asp-controller="Blog" asp-action="Tags" asp-route-id="@Model[i].TagName">@Model[i].TagName</a>
                        </li>
                }
            </ol>

        </section>

    </div>
</div>