@model List<Tag>

<link rel="stylesheet" href="~/css/tags/index.min.css" />
<script type="text/javascript" src="~/js/tags/index.min.js"></script>
<script type="text/javascript" src="~/lib/wordcloud/src/wordcloud2.min.js"></script>

<div class="container mt-4 mb-5">
    <div class="row">

        <aside class="col-lg-3 d-none d-lg-block">

            @await Component.InvokeAsync("TopTags")
            <br />
            @await Component.InvokeAsync("Categories")

        </aside>

        <section class="col-lg-9 col-md-12">

            <h2 class="display-4">All Tags</h2>
            <hr>
            <div id="allTags"></div>
            <script>getAllTags();</script>

        </section>
    </div>
</div>