<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="LLLXY,lixinyang,李新阳">
    <meta name="description" content="LLLXY's Blog" />

    <title>LLLXY</title>

    <link rel="shortcut icon" href="~/favicon.ico" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/shared/_layout.css" />

    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/lib/darkMode/darkmode.js"></script>
    @if (DateTime.Now.Hour > 18 || DateTime.Now.Hour < 7){ <script>DarkReader.enable();</script> }

</head>
<body>

    <nav id="header" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-controller="/Home" asp-action="Index" class="navbar-brand">
                    <strong>LLLXY</strong>
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-controller="/Home" asp-action="Index">Home</a></li>
                    <li><a asp-controller="/Blog" asp-action="Index">Blog</a></li>
                    <li><a asp-controller="/FeedBack" asp-action="Index">Feedback</a></li>
                </ul>
            </div>

        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div id="content">
        @RenderBody()
    </div>

    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <a><strong>&copy; 2019 - LLLXY</strong></a>
                    <strong>&nbsp;&nbsp;豫ICP备18041216号</strong>
                    <span>
                        &nbsp;&nbsp;
                        <a id="admin" class="glyphicon glyphicon-new-window logo-link" asp-controller="/Admin" asp-action="Index" target="_blank">Admin</a>
                    </span>
                </div>
                <div class="col-md-4">
                    <span>Powered by <a id="framework" href="https://dotnet.microsoft.com/" target="_blank"><u>.NET Core</u></a> 3.0.100</span>
                </div>
            </div>
        </div>
    </div>

    <div id="top" class="gototop js-top">
        <a onclick="MoveTop()"><i><strong>TOP</strong></i></a>
    </div>

    <!-- Main -->
    <script type="text/javascript" src="~/js/shared/_layout.js"></script>

</body>
</html>
