@font-face {
    font-family: 'Kaushan Script';
    font-style: normal;
    font-weight: 400;
    src: url('/font/KaushanScript.woff2') format('woff2');
}

#content {
    padding-top: 0;
}

.fh5co-cover {
    padding-top: 50px;
    position: relative;
    width: 100%;
    line-height: 1.7;
}

#colorbg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(70, 49, 112, 1);
    background-attachment: fixed;
    background-image: radial-gradient(closest-side,rgb(43, 66, 163),rgba(235,105,78,0)), radial-gradient(closest-side,rgb(122, 64, 143),rgba(243,11,164,0)), radial-gradient(closest-side,rgb(91, 49, 160),rgba(254,234,131,0)), radial-gradient(closest-side,rgb(69, 143, 149),rgba(170,142,245,0)), radial-gradient(closest-side,rgb(59, 95, 147),rgba(248,192,147,0));
    background-size: 130vmax 130vmax, 80vmax 80vmax, 90vmax 90vmax, 110vmax 110vmax, 90vmax 90vmax;
    background-position: -80vmax -80vmax, 60vmax -30vmax, 10vmax 10vmax, -30vmax -10vmax, 50vmax 50vmax;
    background-repeat: no-repeat;
    animation: 10s movement linear infinite;
}

#imgbg {
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-position: 50%;
    background-attachment: fixed;
    bottom: 0;
    left: 0;
}

@keyframes movement {
    0%, 100% {
        background-size: 130vmax 130vmax, 80vmax 80vmax, 90vmax 90vmax, 110vmax 110vmax, 90vmax 90vmax;
        background-position: -80vmax -80vmax, 60vmax -30vmax, 10vmax 10vmax, -30vmax -10vmax, 50vmax 50vmax;
    }

    25% {
        background-size: 100vmax 100vmax, 90vmax 90vmax, 100vmax 100vmax, 90vmax 90vmax, 60vmax 60vmax;
        background-position: -60vmax -90vmax, 50vmax -40vmax, 0vmax -20vmax, -40vmax -20vmax, 40vmax 60vmax;
    }

    50% {
        background-size: 80vmax 80vmax, 110vmax 110vmax, 80vmax 80vmax, 60vmax 60vmax, 80vmax 80vmax;
        background-position: -50vmax -70vmax, 40vmax -30vmax, 10vmax 0vmax, 20vmax 10vmax, 30vmax 70vmax;
    }

    75% {
        background-size: 90vmax 90vmax, 90vmax 90vmax, 100vmax 100vmax, 90vmax 90vmax, 70vmax 70vmax;
        background-position: -50vmax -40vmax, 50vmax -30vmax, 20vmax 0vmax, -10vmax 10vmax, 40vmax 60vmax;
    }
}

#avatar {
    height: 200px;
    width: 200px;
    margin-bottom: 30px;
    border-radius: 50%;
    animation: rotation 10s linear infinite;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.display-t {
    width: 100%;
    display: table;
}

.display-tc {
    display: table-cell;
    vertical-align: middle;
    height: 600px;
}

    .display-tc h1, .display-tc h2, .display-tc h3 {
        margin: 0;
        padding: 0;
        color: white;
    }

    .display-tc h1 {
        font-family: "Kaushan Script", cursive;
        margin-bottom: 30px;
        font-size: 50px;
        font-weight: 300;
        transform: rotate(-5deg);
    }

        .display-tc h1 span {
            padding: 4px 15px;
            position: relative;
        }

            .display-tc h1 span:before {
                position: absolute;
                top: 40px;
                left: 0;
                width: 30px;
                height: 4px;
                content: '';
                background: #fff;
                margin-left: -30px;
            }

            .display-tc h1 span:after {
                position: absolute;
                top: 40px;
                right: 0;
                width: 30px;
                height: 4px;
                content: '';
                background: #fff;
                margin-right: -30px;
            }

@media screen and (max-width: 768px) {
    .display-tc h1 {
        font-size: 34px;
    }

        .display-tc h1 span:before {
            top: 28px;
            width: 20px;
            height: 3px;
            margin-left: -15px;
        }

        .display-tc h1 span:after {
            top: 28px;
            width: 20px;
            height: 3px;
            margin-right: -15px;
        }
}

.display-tc h2 {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 30px;
}

.display-tc h3 {
    font-size: 15px;
}

#btn_dowm {
    cursor: pointer;
    width: 40px;
    transition: transform 0.2s ease-out;
}

#btn_dowm:hover {
    transform: scale(1.3);
}

.fh5co-heading {
    margin: 40px auto 25px auto;
}
