img {
    width: 100%;
    border-radius: 10px;
    transition: transform 0.2s ease-out;
}

label{
    font-weight:bold;
}

.section {
    margin-bottom: 40px;
}

.card:hover img {
    transition: transform 0.2s ease-out;
    transform: scale(1.05);
}