img {
    width: 100%;
    transition: transform 0.2s ease-out;
}

label {
    font-weight: bold;
    padding-left: 1rem;
    padding-top: 0.6rem;
}

.section {
    margin-bottom: 40px;
}

.card:hover img {
    transition: transform 0.2s ease-out;
    transform: scale(1.05);
}

.card-body {
    padding: 0;
}