
html, body, div, h1, h2, h3, a, img, ul, li, article, footer, header {
    font-size: 100%;
}

article, footer, header {
    display: block;
}

ul {
    list-style: none;
}

body {
    background: #f4f4f4;
}

@media screen and (max-width: 1680px) {

    body {
        font-size: 12pt;
    }
}

@media screen and (max-width: 1280px) {

    body {
        font-size: 12pt;
    }
}

@media screen and (max-width: 980px) {

    body {
        font-size: 12pt;
    }
}

@media screen and (max-width: 736px) {

    body {
        font-size: 12pt;
    }
}

@media screen and (max-width: 480px) {

    body {
        font-size: 12pt;
    }
}

a {
    -moz-transition: color 0.2s ease, border-bottom-color 0.2s ease;
    -webkit-transition: color 0.2s ease, border-bottom-color 0.2s ease;
    transition: color 0.2s ease, border-bottom-color 0.2s ease;
    text-decoration: none;
}

    a:before {
        -moz-transition: color 0.2s ease;
        -webkit-transition: color 0.2s ease;
        transition: color 0.2s ease;
    }

    a:hover {
        border-bottom-color: transparent;
    }

        a:hover:before {
            color: #2ebaae !important;
        }

h1, h2, h3 {
    color: #3c3b3b;
    font-family: "Raleway", Helvetica, sans-serif;
    font-weight: 800;
    letter-spacing: 0.25em;
    line-height: 1.65;
    margin: 0 0 1em 0;
    text-transform: uppercase;
}

h2 {
    font-size: 1.1em;
}

h3 {
    font-size: 0.9em;
}

/* Author */

.author {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    justify-content: flex-end;
    border-bottom: 0;
    font-family: "Raleway", Helvetica, sans-serif;
    font-size: 0.6em;
    font-weight: 400;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    white-space: nowrap;
}

    .author .name {
        -moz-transition: border-bottom-color 0.2s ease;
        -webkit-transition: border-bottom-color 0.2s ease;
        transition: border-bottom-color 0.2s ease;
        border-bottom: dotted 1px rgba(160, 160, 160, 0.65);
        display: block;
        margin: 0 1.5em 0 0;
    }

    .author img {
        border-radius: 100%;
        display: block;
        width: 4em;
    }

    .author:hover .name {
        border-bottom-color: transparent;
    }


/* Form */

::-webkit-input-placeholder {
    color: #aaaaaa !important;
    opacity: 1.0;
}

:-moz-placeholder {
    color: #aaaaaa !important;
    opacity: 1.0;
}

::-moz-placeholder {
    color: #aaaaaa !important;
    opacity: 1.0;
}

:-ms-input-placeholder {
    color: #aaaaaa !important;
    opacity: 1.0;
}

/* Icon */

/* Image */
img{
    max-width:100%;
}

.image {
    border: 0;
    display: inline-block;
    position: relative;
}

    .image img {
        display: block;
    }

    .image.featured {
        width: 100%;
    }

        .image.featured img {
            width: 100%;
        }

@media screen and (max-width: 736px) {

    .image.featured {
        margin: 0 0 1.5em 0;
    }
}

/* List */

ul {
    list-style: disc;
    padding-left: 1em;
}

    ul.actions {
        cursor: default;
        list-style: none;
        padding-left: 0;
    }

        ul.actions li {
            display: inline-block;
            padding: 0 1.5em 0 0;
            vertical-align: middle;
        }

            ul.actions li:last-child {
                padding-right: 0;
            }

@media screen and (max-width: 1280px) {

    ul.actions.pagination {
        text-align: center;
    }
}

@media screen and (max-width: 480px) {

    ul.actions {
        margin: 0 0 2em 0;
    }

        ul.actions li {
            padding: 1em 0 0 0;
            display: block;
            text-align: center;
            width: 100%;
        }

            ul.actions li:first-child {
                padding-top: 0;
            }

            ul.actions li > * {
                width: 100%;
                margin: 0 !important;
            }
}

/* Mini Post */

/* Post */

.post {
    background: #ffffff;
    border: solid 1px rgba(160, 160, 160, 0.3);
    margin: 0 0 3em 0;
    position: relative;
}

    .post > header {
        padding-left:40px;
        padding-right:40px;
        display: -webkit-flex;
        display: flex;
        left: -3em;
        position: relative;
        width: calc(100% + 6em);
    }

        .post > header .title {
            -webkit-flex-grow: 1;
            flex-grow: 1;
            padding: 2.0em 3em 2.0em 3em;
        }

            .post > header .title h2 {
                font-weight: 900;
                font-size: 1.5em;
            }

            .post > header .title > :last-child {
                margin-bottom: 0;
            }

        .post > header .meta {
            padding: 2.0em 3em 2.0em 3em;
            min-width: 17em;
            text-align: right;
            width: 17em;
        }

            .post > header .meta > * {
                margin: 0 0 1em 0;
            }

            .post > header .meta > :last-child {
                margin-bottom: 0;
            }

            .post > header .meta .published {
                color: #3c3b3b;
                display: block;
                font-family: "Raleway", Helvetica, sans-serif;
                font-size: 0.7em;
                font-weight: 800;
                letter-spacing: 0.25em;
                margin-top: 0.5em;
                text-transform: uppercase;
                white-space: nowrap;
            }

    .post > .image.featured {
        overflow: hidden;
    }

        .post > .image.featured img {
            -moz-transition: -moz-transform 0.2s ease-out;
            -webkit-transition: -webkit-transform 0.2s ease-out;
            transition: transform 0.2s ease-out;
        }

        .post > .image.featured:hover img {
            -moz-transform: scale(1.05);
            -webkit-transform: scale(1.05);
            -ms-transform: scale(1.05);
            transform: scale(1.05);
        }

    .post > footer {
        padding-left:40px;
        padding-right:40px;
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
    }

        .post > footer .actions {
            -webkit-flex-grow: 1;
            flex-grow: 1;
        }

@media screen and (max-width: 980px) {

    .post {
        border-left: 0;
        border-right: 0;
        left: -3em;
        width: calc(100% + (3em * 2));
    }

        .post > header {
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            padding: 3.75em 3em 1.25em 3em;
            border-left: 0;
        }

            .post > header .title {
                margin: 0 0 2em 0;
                padding: 0;
                text-align: center;
            }

            .post > header .meta {
                -webkit-align-items: center;
                align-items: center;
                display: -webkit-flex;
                display: flex;
                -webkit-justify-content: center;
                justify-content: center;
                border-left: 0;
                margin: 0 0 2em 0;
                padding-top: 0;
                padding: 0;
                text-align: left;
                width: 100%;
            }

                .post > header .meta > * {
                    border-left: solid 1px rgba(160, 160, 160, 0.3);
                    margin-left: 2em;
                    padding-left: 2em;
                }

                .post > header .meta > :first-child {
                    border-left: 0;
                    margin-left: 0;
                    padding-left: 0;
                }

                .post > header .meta .published {
                    margin-bottom: 0;
                    margin-top: 0;
                }

                .post > header .meta .author {
                    -webkit-flex-direction: row-reverse;
                    -ms-flex-direction: row-reverse;
                    flex-direction: row-reverse;
                    margin-bottom: 0;
                }

                    .post > header .meta .author .name {
                        margin: 0 0 0 1.5em;
                    }

                    .post > header .meta .author img {
                        width: 3.5em;
                    }
}

@media screen and (max-width: 736px) {

    .post {
        padding: 1.5em 1.5em 0.1em 1.5em;
        left: -1.5em;
        margin: 0 0 2em 0;
        width: calc(100% + (1.5em * 2));
    }

        .post > header {
            padding: 3em 1.5em 0.5em 1.5em;
            left: -1.5em;
            margin: -1.5em 0 1.5em 0;
            width: calc(100% + 3em);
        }

            .post > header .title h2 {
                font-size: 1.1em;
            }
}

@media screen and (max-width: 480px) {

    .post > header .meta {
        -webkit-align-items: center;
        align-items: center;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

        .post > header .meta > * {
            border-left: 0;
            margin: 1em 0 0 0;
            padding-left: 0;
        }

        .post > header .meta .author .name {
            display: none;
        }

    .post > .image.featured {
        margin-left: -1.5em;
        margin-top: calc(-1.5em - 1px);
        width: calc(100% + 3em);
    }

    .post > footer {
        -webkit-align-items: stretch;
        align-items: stretch;
        -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }
}

#wrapper {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -moz-transition: opacity 0.5s ease;
    -webkit-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
    margin: 0 auto;
    max-width: 100%;
    opacity: 1;
    padding-top: 4.5em;
    padding-bottom: 4.5em;
    width: 90em;
}

@media screen and (max-width: 1680px) {

    #wrapper {
        padding: 3em;
    }
}

@media screen and (max-width: 1280px) {

    #wrapper {
        display: block;
    }
}

@media screen and (max-width: 736px) {

    #wrapper {
        padding: 1.5em;
    }
}

#main {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    width: 100%;
}

.lastReadTag {
    color: orange;
}

code{
    width:1000px;
}

code tbody{
    font-weight:bold;
    font-size:15px;
}

.btn_changepage{
    float:left;
}

textarea {
    resize: none;
    margin-bottom:5px;
}

#verfyImg {
    float: left;
    height: 40px;
}

#verfyInput {
    margin-left:5px;
    border-radius: 5px;
    width: 200px;
    height: 40px;
    float: left;
}

#btn_submit {
    float: left;
    margin-top: 4px;
    margin: 4px 0 0 10px;
}

#comment {
    margin-top: 50px;
}

#detail{
    padding:40px;
}