@model coreHome.Models.Article

<div>
    <div id="wrapper">

        <link rel="stylesheet" href="~/css/Blog/main.css" />
        <link rel="stylesheet" href="~/css/HighLightJS/default.css" />
        <script src="~/js/HighLightJS/highlight.pack.js"></script>
        <script src="~/js/HighLightJS/highlightjs-line-numbers.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>

        <!-- 文章列表 -->
        <div id="main">

            <!-- 文章 -->
            <article class="post">
                <header>
                    <div class="title">

                        <!--标题-->
                        <h2 id="title">@Model.Title</h2>

                        <!--概述-->
                        <h3>
                            <strong>@Model.Overview</strong>
                        </h3>

                    </div>
                    <div class="meta">
                        <h2 class="published">@Model.Time</h2>
                        <a href="#" class="author">
                            <h2 class="name">LLLXY</h2>
                            <img src="/favicon.ico" />
                        </a>
                    </div>
                </header>

                <!--封面-->
                <a class="image featured" style="max-height:300px;"><img src="" style="width:100%;" /></a>
                <!--内容-->
                <div id="detail"></div>

                <input id="md" type="hidden" value="@Model.Content"/>

            </article>


            <ul class="actions pagination">
                <li><button onclick="window.location.href = '/blog?index=@ViewBag.CurrentIndex'" class="btn btn-default navbar-btn">返回</button></li>
            </ul>

        </div>
    </div>

    <!--加载文章内容-->
    <script>
        var md = document.getElementById("md").value;
        document.getElementById('detail').innerHTML = marked(md);
        
        hljs.initHighlighting();
        hljs.initLineNumbersOnLoad();
    </script>
</div>