@font-face {
    font-family: 'icomoon';
    src: url("../fonts/icomoon/icomoon.eot?srf3rx");
    src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
}

body {
    font-weight: 400;
    font-size: 16px;
    background-color: whitesmoke;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
}

a:hover {
    color: #FF9000;
    outline: none;
    text-decoration: none;
}

.gototop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    visibility: hidden;
    cursor: pointer;
}

.gototop.active {
    visibility: visible;
}

.gototop a {
    width: 50px;
    height: 50px;
    display: table;
    background: orange;
    color: #fff;
    text-align: center;
    border-radius: 50%;
}

.gototop a i {
    vertical-align: middle;
    font-weight: bold;
}

#footer {
    padding:40px;
    background-color: black;
}

::-webkit-scrollbar {
    display: none;
}

.footerlink {
    color: #727272;
    font-weight: bold;
}