@view-transition {
    navigation: auto;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
}

@keyframes fade-out {
    to {
        opacity: 0;
    }
}

@keyframes slide-from-right {
    from {
        transform: translateX(30px);
    }
}

@keyframes slide-to-left {
    to {
        transform: translateX(-30px);
    }
}

::view-transition-old(root) {
    animation: 90ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
        300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
}

::view-transition-new(root) {
    animation: 210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
        300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.reveal {
    visibility: hidden;
}

#content {
    padding-top: 50px;
    flex: 1;
}

footer {
    background-color: whitesmoke;
}

footer .title {
    font-weight: 600;
    color: #616161;
    margin-top: 20px;
}

footer a {
    color: #616161;
}

#footerInfo {
    padding-top: 30px;
    padding-bottom: 0;
}

#privacy {
    bottom: 17%;
    position: fixed;
    right: -2px;
    z-index: 999;
}

#privacy svg {
    border-radius: .25rem;
}

.gototop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    visibility: hidden;
    cursor: pointer;
}

.gototop.active {
    visibility: visible;
}

.gototop a {
    width: 50px;
    height: 50px;
    padding: 9px;
    display: table;
    background: #007bff;
    text-align: center;
    border-radius: .25rem;
}

#verfyImg, #verificationCode, #btn_submit {
    height: 40px;
}

#verfyImg {
    cursor: pointer;
}

#verificationCode {
    max-width: 110px;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    transition: 1.0s;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(127, 127, 127, 0.6);
    background-clip: padding-box;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: 1.0s;
}

::-webkit-scrollbar-thumb:vertical:hover,
::-webkit-scrollbar-thumb:horizontal:hover {
    background-color: rgb(110, 110, 110);
    transition: 0.3s;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb:vertical:active,
::-webkit-scrollbar-thumb:horizontal:active {
    background: rgba(95, 91, 91, 1);

}

::-webkit-scrollbar-corner {
    background: none;
}
