
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#content {
    padding-top: 50px;
    flex: 1;
}

footer {
    background-color: whitesmoke;
}

footer .title {
    font-weight: 600;
    color: #616161;
    margin-top: 20px;
}

footer a {
    color: #616161;
}

#footerInfo {
    padding-top: 30px;
    padding-bottom: 0;
}

#privacy {
    bottom: 17%;
    position: fixed;
    right: -2px;
    z-index: 999;
}

.gototop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    visibility: hidden;
    cursor: pointer;
}

.gototop.active {
    visibility: visible;
    color: white;
}

.gototop a {
    width: 50px;
    height: 50px;
    display: table;
    background: #007bff;
    color: white;
    text-align: center;
    text-decoration: none;
}

.gototop a i {
    display: table-cell;
    vertical-align: middle;
    font-weight: bold;
}

#verfyImg, #verificationCode, #btn_submit {
    height: 40px;
    border-radius: 0;
}

#verfyImg {
    cursor: pointer;
}

#verificationCode {
    max-width: 110px;
}

.btn{
    border-radius: 0;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    transition: 1.0s;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(127, 127, 127, 0.6);
    background-clip: padding-box;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: 1.0s;
}

::-webkit-scrollbar-thumb:vertical:hover,
::-webkit-scrollbar-thumb:horizontal:hover {
    background-color: rgb(110, 110, 110);
    transition: 0.3s;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb:vertical:active,
::-webkit-scrollbar-thumb:horizontal:active {
    background: rgba(95, 91, 91, 1);

}

::-webkit-scrollbar-corner {
    background: none;
}