.fh5co-blog {
    width: 100%;
    float: left;
    position: relative;
    margin-bottom: 40px;
    transition: transform .2s ease-out;
}

.blog-imgbox {
    overflow: hidden;
}

.fh5co-blog .blog-bg {
    display: block;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 400px;
    transition: transform .2s ease-out;
}

.fh5co-blog:hover {
    transform: translateY(-7px);
    box-shadow: 0 7px 20px 0 rgba(0,0,0,.5)
}

.fh5co-blog:hover .blog-bg {
    transform: scale(1.07);
}

.fh5co-blog .blog-text {
    position: absolute;
    width: 100%;
    padding: 20px 30px;
    float: left;
    bottom: 0;
    color: white;
    background: rgba(0,0,0,.1);
    backdrop-filter: saturate(110%) blur(10px);
    transition: .3s;
}

.fh5co-blog .blog-text h3 {
    font-size: 24px;
    line-height: 1.5;
}

.fh5co-blog .blog-text .stuff li {
    list-style: none;
    display: inline-block;
    margin-left: 10px;
}

@media screen and (max-width: 768px) {
    .fh5co-blog .blog-text .stuff li {
        font-size: 14px;
    }
}

.fh5co-blog .blog-text .stuff li:last-child {
    float: right;
}

.fh5co-blog .blog-text .stuff li:last-child a {
    color: white;
}
