<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/shared/_layout.css" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-light fixed-top">
            <div class="container">
                <a class="navbar-brand" asp-controller="Overview" asp-action="Index">Admin</a>
                <button class="btn navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Overview" asp-action="Index">Overviewer</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Theme" asp-action="Index">Theme</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Blog" asp-action="Index">Blog</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div id="content">
        @RenderBody()
    </div>

    <footer class="bd-footer text-muted text-center">
        <div class="container-fluid p-3 p-md-5">
            <p>Designed and Developed by <a href="javascript:void()">LLLXY</a> ❤ <a href="http://www.beian.miit.gov.cn/" target="_blank">豫ICP备18041216号</a></p>
            <p>&copy; 2020 - LLLXY   <a asp-controller="Home" asp-action="Logout">退出</a></p>
        </div>
    </footer>

</body>
</html>
